body {
  background-color: #272726;
}
#Mm-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 528px;
}
@media (max-width: 800px) {
  #Mm-layout {
    grid-template-columns: 1fr;
  }
}
#Mm-layout .MM-layout-header {
  grid-column: span 2;
}
@media (max-width: 800px) {
  #Mm-layout .MM-layout-header {
    grid-column: span 1;
  }
}
#Mm-layout .MM-layout-board-player {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
}
#Mm-layout .MM-layout-right {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding: 20px;
  padding-bottom: 77px;
  border-left: 0.5px solid rgba(255, 255, 255, 0.294061);
}
#Mm-layout .MM-layout-right-lineh {
  border-top: 0.5px solid rgba(255, 255, 255, 0.294061);
  height: 1px;
  width: 100%;
}